version: "3.9"

services:
  backend:
    build:
      context: ./backend
    image: nomanakram29/reactjs-flask-backend:${IMAGE_TAG}
    container_name: flask-backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    environment:
      FLASK_ENV: development
      JWT_SECRET_KEY: super-secret
      SECRET_KEY: super-secret
    restart: always

  frontend:
    build:
      context: ./frontend
    image: nomanakram29/reactjs-flask-frontend:${IMAGE_TAG}
    container_name: react-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    restart: always
