apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-frontend
  namespace: react-flask-app
  labels:
    app: react-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: react-frontend
  template:
    metadata:
      labels:
        app: react-frontend
    spec:
      containers:
        - name: react-frontend
          image: nomanakram29/reactjs-flask-frontend:latest   # Updated by Jenkins
          ports:
            - containerPort: 5173
          env:
            - name: VITE_BACKEND_URL
              value: "http://flask-backend-service.react-flask-app.svc.cluster.local:5000"
          imagePullPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: react-frontend-service
  namespace: react-flask-app
  labels:
    app: react-frontend
spec:
  type: LoadBalancer
  selector:
    app: react-frontend
  ports:
    - port: 80
      targetPort: 5173
      protocol: TCP
